.banner{
    width: 100%;
    display: block;
    background-image: url('../../img/river.webp');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    // overflow: hidden;

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .bannertxt{
            font-size: 32px;
            text-align: center;
            color: #c9c8c8;

            text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #fff,
            1px 3px 1px #403e3d,
            1px 4px 1px #473727,
            1px 5px 1px #473727,
            1px 6px 1px #473727,
           
            1px 9px 1px #473727,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
            
        }
        .spantxt{
            width: 100%;
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            color: #EECD86;
            z-index: 10;
            position: relative;
            text-shadow:1px solid red;
            text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #fff,
            1px 3px 1px #403e3d,
            1px 4px 1px #473727,
            1px 5px 1px #473727,
            1px 6px 1px #473727,
           
            1px 9px 1px #473727,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    }

    }
    


}
@media only screen and (min-width:990px){
    .banner{
        .container{
            width: 100%;
            div{
                width: 100%;
                .bannertxt{
                    width: 100%;
                    @include title();
                    color: #EECD86;
                    z-index: 10;
                    text-align: center;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    text-shadow:1px solid red;
                    text-shadow: 1px 1px 1px #919191,
                    1px 2px 1px #fff,
                    1px 3px 1px #403e3d,
                    1px 4px 1px #473727,
                    1px 5px 1px #473727,
                    1px 6px 1px #473727,
                   
                    1px 9px 1px #473727,
                    1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
                font-size: 72px;
                    // &::before{
                    //     content: '';
                    //     display: block;
                    //     position: absolute;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: rgba(72, 72, 72, 0.444);
                    //     border-radius: 12px;
                    // }
                    
                }
                .spantxt{
                    width: 100%;
                    text-align: center;
                    font-size: 32px;
                    display: flex;
                    justify-content: center;
                    color: #EECD86;
                    z-index: 10;
                    position: relative;
                    text-shadow:1px solid red;
                    text-shadow: 1px 1px 1px #919191,
                    1px 2px 1px #fff,
                    1px 3px 1px #403e3d,
                    1px 4px 1px #473727,
                    1px 5px 1px #473727,
                    1px 6px 1px #473727,
                   
                    1px 9px 1px #473727,
                    1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
                }
            }
        }
    }
}