.turinfo {
    width: auto;
    margin-top: 100px;
    margin-bottom: 20px;

    // overflow: hidden;
    .container {
        width: 100%;
        display: block;

        .leftcontent {
            margin-bottom: 20px;

            h2 {
                text-align: center;
                text-transform: capitalize;
            }

            p {
                width: 100%;
                text-align: center;
                margin-bottom: 12px;
                color: #3a3737;
            }

            .details {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-radius: 8px;

                .more__info {
                    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    background-color: #D1E9F6;
                    padding-left: 10px;
                    padding: 10px;
                    border-radius: 8px;

                    .time {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 12px;

                        &:nth-child(2) {
                            justify-content: space-between;
                        }

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }

                        p {
                            width: 68px;
                            all: unset;
                            color: gray;
                            font-size: 13px;
                        }
                    }

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    }
                }

                .shopbtn {
                    all: unset;
                    background-color: #D1E9F6;
                    border-radius: 8px;

                    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    }

                    // rgb(207, 205, 205)

                }
            }
        }

        .containerform {
            width: 100%;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

            overflow: hidden;
            padding: 10px;

            .h3chat {
                height: 50px;

                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                margin-bottom: 15px;
            }

            .nocomment {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }

            ul {
                width: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                height: 500px;

                li {


                    .comment__text__wrapper {
                        margin-bottom: 10px;

                        // border-radius: 7px;
                        // background-color: green;
                        .comment__buble {
                            --r: 1em;
                            /* the radius */
                            --t: 1.5em;
                            /* the size of the tail */
                            max-width: 300px;
                            //    max-width: 80%;
                            //     min-width:90px;
                            //     min-height: 40px;
                            //     max-height: fit-content;
                            padding: 1em;
                            padding-right: 5px;
                            border-inline: var(--t) solid #0000;
                            border-radius: calc(var(--r) + var(--t))/var(--r);
                            mask:
                                radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%) var(--_p) 100%/var(--t) var(--t) no-repeat,
                                linear-gradient(#000 0 0) padding-box;
                            background: #9bbad3;
                            color: #fff;

                            .comment__text {
                                overflow: hidden;
                            }
                        }

                        .left {
                            --_p: 0;
                            border-bottom-left-radius: 0 0;
                            place-self: start;
                        }

                        .right {
                            --_p: 100%;
                            border-bottom-right-radius: 0 0;
                            place-self: end;
                            margin-bottom: 10px;
                        }

                        .quoteWrapper {
                            position: relative;
                            width: auto;
                            margin: auto;
                            padding: 10px;
                            background-color: transparent;
                            background-image: linear-gradient(-45deg,
                                    transparent,
                                    transparent 2%,
                                    white 2%,
                                    white 85%,
                                    transparent,
                                    85%,
                                    transparent),
                                linear-gradient(to bottom right, #2ad, #2ad 90%, transparent 90%);
                            background-position: top left, 0.2em 0.2em;
                            background-repeat: no-repeat;
                            filter: drop-shadow(0 0 15px #0005);
                        }

                        .quoteWrapper::before,
                        .quoteWrapper::after {
                            position: absolute;
                            
                            z-index: -1;
                            display: block;
                            width: 30px;
                            height: 20px;
                            content: "";
                            z-index: 0;
                            font-size: 50px;
                            font-family: Georgia, Times, Garamond, serif;
                        }

                        .quoteWrapper::before {
                            top:10px;
                            left: 10px;
                            content: open-quote;
                        }

                        .quoteWrapper::after {
                            bottom: -1px;
                            right: -5px;
                            content: close-quote;
                        }

                        .quoteWrapper::before,
                        .quoteWrapper::after,
                        .quoteWrapper h2 {
                            text-shadow: -2px 2px #fff, -1.5px 1.5px #fff, -1px 1px #fff, -0.5px 0.5px #fff;
                        }

                        .quoteWrapper h2 {
                            margin-block-end: 1rem;
                        }

                        .quoteWrapper p {
                            margin-block-start: 1rem;
                            text-indent: 2ch;
                        }

                    }
                }

                .bright {

                    width: auto;
                    display: flex;
                    justify-content: end;

                    .comment__time {

                        width: auto;
                        display: flex;
                        justify-content: end;
                    }
                }
            }

            .comment-wrapper {
                width: 100%;
                height: auto;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                form {
                    width: 100%;
                    display: flex;
                    height: auto;
                    flex-wrap: wrap;
                    align-items: center;

                    textarea {
                        width: 80%;
                        max-height: 190px;
                        resize: none;
                        padding: 5px;
                        border: none;
                        outline: none
                    }

                    button {
                        all: unset;
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btnimg {
                            width: 50px;
                            height: 30px;
                        }
                    }
                }
            }
            
        }
        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:30px;
            color:#ccc;
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label {
            color: #ffc700;    
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;  
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
        
    }
}


@media only screen and (min-width:768px) {
    .turinfo {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 200px;

        .container {
            width: 100%;
            display: block;

            .imgstur {
                width: 100%;
            }

            .leftcontent {
                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    padding-left: 20px;
                }

                .details {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    border-radius: 8px;

                    .more__info {
                        box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        background-color: #D1E9F6;
                        padding-left: 10px;
                        padding: 10px;
                        border-radius: 8px;

                        .time {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-right: 12px;

                            &:nth-child(2) {
                                justify-content: space-between;
                            }

                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }

                            p {
                                width: 68px;
                                all: unset;
                                color: gray;
                                font-size: 18px;

                            }

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                        }
                    }

                    .shopbtn {
                        all: unset;
                        background-color: #D1E9F6;
                        border-radius: 8px;

                        box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            font-size: 18px;
                        }

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                        }

                        // rgb(207, 205, 205)

                    }
                }
            }

        }
    }
}